# Basic EDA

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path
from tqdm import tqdm

In [2]:
data_path = Path('.').resolve() / 'data'
data_path

WindowsPath('E:/VSCodeProjects/hanaquantchallenge/data')

In [4]:
df = pd.read_csv(data_path / 'Data-QuantTrading.csv')
df = df.iloc[:, 1:]
df

,virtual_dt,open,high,low,close,vwap,volume,amount,ticks,bid,bid_size,ask,ask_size,KST,tr_date,signal
0,2020-01-02 00:00:00,3237.00,3238.00,3234.25,3237.75,3236.20860,7126.0,23061222.50,1256.0,3237.50,37.0,3237.75,26.0,2020-01-02 08:09:59.541837412+09:00,2020-01-02,0
1,2020-01-02 00:10:00,3237.75,3239.75,3237.75,3239.75,3238.72393,3280.0,10623014.50,781.0,3239.50,18.0,3239.75,67.0,2020-01-02 08:19:58.181620251+09:00,2020-01-02,0
2,2020-01-02 00:20:00,3239.50,3240.75,3239.00,3240.25,3239.90333,2193.0,7105108.00,479.0,3240.25,8.0,3240.50,36.0,2020-01-02 08:29:58.750208471+09:00,2020-01-02,0
3,2020-01-02 00:30:00,3240.50,3240.50,3238.50,3238.75,3239.38759,1579.0,5114993.00,415.0,3238.75,14.0,3239.00,44.0,2020-01-02 08:39:57.647607341+09:00,2020-01-02,0
4,2020-01-02 00:40:00,3238.75,3239.00,3238.25,3238.75,3238.58134,1005.0,3254774.25,297.0,3238.75,33.0,3239.00,47.0,2020-01-02 08:49:59.071013731+09:00,2020-01-02,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96850,2022-09-30 22:10:00,3609.25,3612.75,3607.50,3608.50,3610.10610,16353.0,59036065.00,3197.0,3608.50,5.0,3608.75,25.0,2022-10-01 05:19:59.694927777+09:00,2022-09-30,0
96851,2022-09-30 22:20:00,3608.50,3610.75,3606.50,3608.00,3608.62619,4608.0,16628549.50,1248.0,3608.00,7.0,3608.25,12.0,2022-10-01 05:29:59.514792145+09:00,2022-09-30,0
96852,2022-09-30 22:30:00,3608.00,3608.00,3602.75,3602.75,3605.53910,4361.0,15723756.00,1140.0,3602.75,21.0,3603.00,8.0,2022-10-01 05:39:59.442415095+09:00,2022-09-30,0
96853,2022-09-30 22:40:00,3603.00,3604.75,3602.00,3604.75,3603.19832,3628.0,13072403.50,934.0,3604.50,12.0,3604.75,8.0,2022-10-01 05:49:58.698429778+09:00,2022-09-30,0
96854,2022-09-30 22:50:00,3604.50,3606.50,3603.50,3604.25,3605.05100,4652.0,16770697.25,1057.0,3604.25,12.0,3605.00,11.0,2022-10-01 05:59:59.386513264+09:00,2022-09-30,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96855 entries, 0 to 96854
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   virtual_dt  96855 non-null  object
 1   open        96855 non-null  float64
 2   high        96855 non-null  float64
 3   low         96855 non-null  float64
 4   close       96855 non-null  float64
 5   vwap        96855 non-null  float64
 6   volume      96855 non-null  float64
 7   amount      96855 non-null  float64
 8   ticks       96855 non-null  float64
 9   bid         96855 non-null  float64
 10  bid_size    96855 non-null  float64
 11  ask         96855 non-null  float64
 12  ask_size    96855 non-null  float64
 13  KST         96855 non-null  object
 14  tr_date     96855 non-null  object
 15  signal      96855 non-null  int64
dtypes: float64(12), int64(1), object(3)
memory usage: 11.8+ MB

In [6]:
df['virtual_dt'] = pd.to_datetime(df['virtual_dt'])

In [9]:
df['tr_date'] = pd.to_datetime(df['tr_date'])

In [10]:
df['KST'] = pd.to_datetime(df['KST'])

In [13]:
df.to_pickle(data_path / 'data_quanttrading.pickle')